*{
    margin: 0%;
    padding: 0%;
    font-size: 100%;
    box-sizing: border-box;
}
/* header */
.top-header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(1, 119, 54);
    position: fixed;
    z-index: 1000;
    width: 100%;
    box-shadow: 3px 3px 10px #000;
}
.header{
    background-image: url(../img/5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:60vh;
    width:100%;
    position:relative;
}
.blur{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 60vh;
}
h2{
    color: #fff;
    font-size: 0.8rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2,nav{
    margin-top:0.3em ;
    padding: 0.6em;
}
nav ul{
    list-style:none;
}
nav ul li{
    display: inline;
    margin: 0.5em;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: darkgray;
    letter-spacing:1px ;
    transition: 2s;
}
.wrap{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-55%,-50%);
    background-color:rgb(1, 119, 54);
    width:50%;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.contents{
    padding:1em;
}
.contents > h3{
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 2px;
    letter-spacing: 1px;
    color:#fff;
    text-shadow:3px 3px 3px #000;
    font-family: Gill Sans MT;
}
.contents > p{
    color: rgb(245, 18, 18);
    text-align: center;
}
.contents > p .st{
    color: rgb(201, 245, 6);
}
/* section */
.section1{
    width: 100%;
}
.sect-contents{
    width:70%;
    margin:20px auto;
}
.head{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}
.head > h1{
    font-size: 1.1rem;
    letter-spacing:1px;
    color:rgb(1, 119, 54);
    margin-bottom:1em;
    font-family: Gill Sans MT;
    font-weight: 600;
    border-bottom: 5px solid rgb(1, 119, 54);
}
p > a{
    color: rgb(1, 119, 54);
}

.rows{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    width: 100%;
}
.column-box{
    width: 33.33%;
    border: 1px solid rgb(153, 153, 153);
    margin: 10px;
    border-radius: 10px;
    position: relative;
}
.column-box:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.h3H{
    position: absolute;
    top:50% ;
    left: 50%;
    transform: translate(-50%,-50%);
    width:60%;
    margin:10px auto;
    background-color: black;
    border: solid 2px rgb(250, 250, 250);
    border-radius: 10px;
    padding: 0.3em;
    text-align: center;
    color: #fff;
}
.column-box > h3{
    padding: 0.2em;
    font-size: 0.8rem;
    font-weight: bolder;
}
img{
    width:100%;
    border-radius: 10px;
}
/* templates */
.section2{
    width:100%;
    background-image: url(../img/pexels-photo-267507.jpeg);
    min-height:60vh;
    background-position:100,100;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}
.sect-One{
    position: absolute;
    width: 100%;
    min-height: 60vh;
    left: 0%;
    top: 0%;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 0.5em;
}
.contents1{
    /* margin: 10px; */
    margin:0.5em;
    width:95%;
    height:55vh;
    background-color: rgb(233, 233, 233);
}
.contents1 > h3{
    font-size: 1.1rem;
    letter-spacing:1px;
    color:rgb(1, 119, 54);
    margin-bottom:1em;
    text-align: center;
    font-family: Gill Sans MT;
    font-weight: 600;
    border-bottom: 5px solid rgb(1, 119, 54);
}
.wrap1{
    float: left;
    width:30%;
    margin:0.3em;
    padding: 1em;
    /* min-height:40vh;  */
}
.wrap1 > h3{
  margin-bottom: 1em;
}
.contacts{
    width: 100%;
    background-color:#000;
    position:relative;
    height: 75vh;
}
.form{
    position: absolute;
    left: 50%;
    top:15%;
    width: 250px;
    transform:translate(-50%,-15%);
}
.form > h3{
  text-align:center;
  font-size:1.3rem;
  color:#fff;
  text-transform: capitalize;
}
form{
  margin-top:1em;
}
input{
  border: none;
  border-bottom:1px solid silver;
  outline:none;
  background-color: #000;
  font-size: 0.8rem;
  padding:1em;
  margin:0.5em auto;
  color:silver;
  width: 100%;
}
input:hover,textarea:hover{
  border:1px solid silver;
}
textarea{
  background-color: #000;
  padding:1em;
  margin-top:0.5em;
  border-color:none;
  outline:none;
  font-size: 0.8rem;
  color:silver;
  width: 100%;
}
label{
  color:silver;
  font-weight: 600;
}
input[type='submit']{
  background-color:rgb(1, 119, 54);
  padding:1em;
  color:#fff;
  margin-bottom: 0em;
}

/*
 TEAM
 */
#team{
  width: 100%;
}
#team > h3{
  color: rgb(1, 119, 54);
  padding-top: 0.5em;
  font-size: 1.1rem;
  margin: 1em;
  letter-spacing:1px;
  border-bottom: 3px solid rgb(1,119,54);
  width: 45px;
}
.team-box{
  width:80%;
  margin:10px auto;
  padding:0.5em;
  display: flex;
  justify-content:center;
  align-items: center;
}
.tb1{
  padding:0.3em;
  display:flex;
  width:33%;
  justify-content:center;
  align-items: center;
  flex-direction:column;
  margin: 10px;
  border-radius: 40px;
  cursor:pointer;
}
.tb1:hover{
  box-shadow: 3px 3px 30px grey;
  /* border:1px solid rgb(1,119,54); */
}
img{
  margin:20px auto;
  border-radius: 200px;
  width: 60px;
  height: 10vh;
}
strong{
  color:grey;
  font-weight: bolder;
  text-transform:capitalize;
}
.tb1 > p{
  color:silver;
}
.footer{
  width: 100%;
  text-align: center;
  padding-bottom: 0.5em;
}
.footer > h4{
  color:rgb(1, 119, 54);
  font-size:0.8rem;padding: 0.5em;
}

/* @MEDIA QUERIES */
@media screen and (max-width:768px){

  .column-box{
    width: 40%;
    margin:2px;
  }
}

@media screen and (max-width:650px){
  *{
    font-size:0.9rem;
  }
  .top-header{
      display:flex;
      align-items: center;
      justify-content:center;
      flex-direction:column;
      /* background-color: rgb(1, 119, 54); */
      position: fixed;
      z-index: 1000;
      width: 100%;
      box-shadow: 3px 3px 10px #000;
  }
  .wrap1{
      width:100%;
      margin:0.1em;
      padding:0.5em;
      /* font-size: 0.8rem; */
  }
  .team-box{
    width:100%;
    margin:5px auto;
    padding:0.3em;
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    flex-direction: row;
  }

}
