*{
	margin: 0;
	padding: 0;
	font-size: 100%;
	box-sizing: border-box;
}
.wrap-header{
	background-image: url(../img/5.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position:100%;
	width: 100%;
	height: 100vh;
	position: relative;
}
.header{
	position: absolute;
	left: 0;
	right: 0;
	background-color:rgba(0,0,0,0.5);
	height: 100vh; 
	width: 100%;
}
.inner-header{
	display: flex;
	justify-content:space-between; 
	margin: 1em;
}
.h2-1{
	color: #fff;
	font-family:Brittish Shorthair;
	letter-spacing: 2px;
	color: yellow;
}
nav ul{
	list-style: none;
}
nav ul li{
	display: inline
}
nav ul li a{
	text-decoration: none;
	color: #fff;
	margin: 10px;
	padding:0.3em; 
}
nav ul li a:hover{
	color:yellow;
	transition: all ease 2s;   
}
.tel{
	margin: 3px;
	padding: 0;
	opacity: 0.5;
}
.menu{
	display: none;
}

.wrap{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	/*border:1px solid red; */
	width:600px;
}
.contents{
	color:#fff;
	padding: 2em;
	display:flex;
	flex-direction:column; 
	align-items: center;
	justify-content: center; 
	font-size:1rem;   
}
.h3-1{
	font-size:2rem; 
	margin-bottom: 3px;
	cursor: pointer;
	font-family:Brittish Shorthair;
	letter-spacing: 3px;
}
.contents >p{
    cursor: pointer;
	font-size:0.8rem; 
	letter-spacing:1px; 
	text-shadow: 3px 3px 3px #000;

}
span{
	margin-left: 1em;
}
.p2{
	color: yellow;
}
.p1,.p3{
	color:silver; 
	font-family:Bauhaus 93;
}

.infoDeck{
	width:250px;
	color: #fff;
	position:absolute;
	top:95%;
	left:97%;  
	transform: translate(-95%,-97%);
}
.author >p{
	font-size: 0.8rem;
	cursor:pointer;
}
@media screen and (max-width:1200px) {
	nav ul li a{
	margin:5px;
	padding:0.5em; 
}

}
@media screen and (max-width:992px) {
	nav ul li a{
	margin:3px;
	padding:0.3em; 
}
}
@media screen and (max-width:872px) {
    nav{
    	display: none;
    }
    .menu{
    	display:block; 
    }
}
button{
	padding:0.2em; 
	margin-left:4em;
	border:none;
	outline:none;   
	position: absolute;
	border-radius: 10px;
	background-color: #006600;
	font-size: 0.8rem;
	color: #fff;
}
.f1{
	cursor: pointer;
}
.searchbar{
	display:flex;
	justify-content:space-between;
	flex-direction:row; 
	color:#fff; 
	font-style: italic;
}
#inputSearch{
	margin-left:4em;
	width:100px;
	height:15px; 
	opacity: 0;
	border:none;
	outline:none;   
	position: absolute;
	border-radius: 10px;
	padding:0.8em; 
	font-size:0.8rem;
	font-style: italic;
	color:darkgrey ;
}

